In [3]:
import numpy as np
import pandas as pd

In [13]:
coffee_sale = pd.read_csv('../3_pandas_library/warmup-data/coffee.csv') 
print(coffee_sale.tail())

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [9]:
bios_data = pd.read_csv('../3_pandas_library/data/bios.csv') 
print(bios_data.head())

   athlete_id                   name   born_date    born_city  \
0           1  Jean-François Blanchy  1886-12-12     Bordeaux
1           2         Arnaud Boetsch  1969-04-01       Meulan
2           3           Jean Borotra  1898-08-13     Biarritz
3           4        Jacques Brugnon  1895-05-11  Paris VIIIe
4           5           Albert Canet  1878-04-17   Wandsworth

            born_region born_country     NOC  height_cm  weight_kg   died_date
0               Gironde          FRA  France        NaN        NaN  1960-10-02
1              Yvelines          FRA  France      183.0       76.0         NaN
2  Pyrénées-Atlantiques          FRA  France      183.0       76.0  1994-07-17
3                 Paris          FRA  France      168.0       64.0  1978-03-20
4               England          GBR  France        NaN        NaN  1930-07-25

In [ ]:
# coffee_sale.describe()

In [ ]:
# print(coffe_sale['Units Sold'])

In [7]:
monday_sale = coffee_sale[coffee_sale['Day'] == 'Monday']
print(monday_sale)

      Day Coffee Type  Units Sold
0  Monday    Espresso          25
1  Monday       Latte          15

In [8]:
espresso_sale = coffee_sale[coffee_sale['Coffee Type'] == 'Espresso']
print(espresso_sale)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
2     Tuesday    Espresso          30
4   Wednesday    Espresso          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45

In [9]:
high_price = coffee_sale[coffee_sale['Units Sold'] > 30]
print(high_price)

          Day Coffee Type  Units Sold
4   Wednesday    Espresso          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [10]:
eith_sale = coffee_sale.loc[8]
print(eith_sale)

Day              Friday
Coffee Type    Espresso
Units Sold           45
Name: 8, dtype: object

In [11]:
# Creating a DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [24, 27, 22]
}
df = pd.DataFrame(data, index=["a", "b", "c"])
print(df)

      Name  Age
a    Alice   24
b      Bob   27
c  Charlie   22

In [12]:
# Using .loc to access data by label
row_b = df.loc["b"]  # Access row with label "b"
print(row_b)

Name    Bob
Age      27
Name: b, dtype: object

In [13]:
age_of_bob = df.loc["b", "Age"]  # Access "Age" of the row with label "b"
print(age_of_bob)

27