In [4]:
import pandas as pd
import numpy as np

In [ ]:
# The DataFrame is the most widely used data structure in pandas. 
#It represents two-dimensional, size-mutable, and potentially heterogeneous tabular data 
    #with labeled axes (rows and columns). 
# Essentially, it is like a spreadsheet or a SQL table, where data is organized into rows and columns.

In [3]:
# Creating a pandas DataFrame:
# You can create a DataFrame from a variety of inputs, such as dictionaries, lists, NumPy arrays, or even other DataFrames.

#         Example 1: Creating a DataFrame from a dictionary

data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 30, 22],
        'City': ['New York', 'Paris', 'London']}
df = pd.DataFrame(data)

print(df)

    Name  Age      City
0   John   25  New York
1  Alice   30     Paris
2    Bob   22    London

In [4]:
#     Example 2: Creating a DataFrame from a list of dictionaries

data = [{'Name': 'John', 'Age': 25, 'City': 'New York'},
        {'Name': 'Alice', 'Age': 30, 'City': 'Paris'},
        {'Name': 'Bob', 'Age': 22, 'City': 'London'}]
df = pd.DataFrame(data)

print(df)

    Name  Age      City
0   John   25  New York
1  Alice   30     Paris
2    Bob   22    London

In [5]:
# Example 3: Creating a DataFrame from NumPy arrays

data = np.array([[25, 30, 22], ['John', 'Alice', 'Bob']])
print(data)
df = pd.DataFrame(data.T, columns=['Age', 'Name'])

print(df)

[['25' '30' '22']
 ['John' 'Alice' 'Bob']]
  Age   Name
0  25   John
1  30  Alice
2  22    Bob