In [11]:
# from datetime import date
# from datetime import datetime
# names = ["Erick Ondiwa", "James Wasonga", "Felix Awere", "Shadrack Mutinda", "Mark Emmanuel"]

# year_of_births = [2000, 2001, 2002, 2003, 2004]

# name_idx = 0
# current_year = date.today()

# for name in names:
#     person_year = year_of_births[name_idx]
#     current_year = datetime.now().year

#     age = current_year - person_year
#     # yob_idx = 0
#     print(f"{name} you are:{age} years old.")

#     name_idx += 1

# for name, birth in zip(names, year_of_births):
#     print(name, birth)

# for idx, name in enumerate(names):
#     print(idx, name)

NameError: name 'n' is not defined

In [17]:
ages = [10, 1.5, 20]
insurance = [2, 3, 4]
new = [ages * ins for ages,ins in zip(ages, insurance)]
print(new)

[20, 4.5, 80]

In [20]:
new_list = [x**3 for x in range(-100, 101)]
# for list1 in new_list:
print(new_list)

[-1000000, -970299, -941192, -912673, -884736, -857375, -830584, -804357, -778688, -753571, -729000, -704969, -681472, -658503, -636056, -614125, -592704, -571787, -551368, -531441, -512000, -493039, -474552, -456533, -438976, -421875, -405224, -389017, -373248, -357911, -343000, -328509, -314432, -300763, -287496, -274625, -262144, -250047, -238328, -226981, -216000, -205379, -195112, -185193, -175616, -166375, -157464, -148877, -140608, -132651, -125000, -117649, -110592, -103823, -97336, -91125, -85184, -79507, -74088, -68921, -64000, -59319, -54872, -50653, -46656, -42875, -39304, -35937, -32768, -29791, -27000, -24389, -21952, -19683, -17576, -15625, -13824, -12167, -10648, -9261, -8000, -6859, -5832, -4913, -4096, -3375, -2744, -2197, -1728, -1331, -1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [25]:
input_data = ["ALex: ZIP 20022-0049", "Margarate: ZIP 20009-0132"]
for x in input_data:
    print(x.split()[2].split("-")[1])

0049
0132

In [4]:
def theta(*x):
    if x > 0:
        return 1
    else:
        return 0

numbers = [0, 1, 2, 3, 4, 5]
print(theta(numbers))

TypeError: '>' not supported between instances of 'tuple' and 'int'