In [15]:
import pandas as pd

In [ ]:
# The Series data structure in pandas is a one-dimensional labeled (indexed) array, 
# similar to a list or a column in a spreadsheet or database table.
# The elements in a list are of the same data type.

In [5]:
# Creating pandas series:
    # You can create a Series from various data types like lists, dictionaries, or NumPy arrays.
import pandas as pd
import numpy as np

# Creating a Series from a list
data = [10, 20, 30, 40]
series = pd.Series(data)
# print(series)

# Creating a Series with custom index
series_with_index = pd.Series(data, index=np.arange(1,5))
# print(series_with_index)

# Creating a Series from a dictionary
data_dict = {'a': 100, 'b': 200, 'c': 300}
series_from_dict = pd.Series(data_dict)
print(series_from_dict)

a    100
b    200
c    300
dtype: int64

In [8]:
stu_data = {'Erick': [50, 60, 76], 'Shad': [45, 90, 20], 'Mark': [30, 10, 99]}
result = pd.Series(stu_data)
print(result)

Erick    [50, 60, 76]
Shad     [45, 90, 20]
Mark     [30, 10, 99]
dtype: object

In [13]:
# Operations on pandas series
#   1. Element Access:There are two ways of accessing elements in a series:
        # by position or index label(key)

print(series[0])       # Access by position
print(series_with_index[1])  # Access by index label

#  2. Mathematical Operations:
    # Series supports element-wise mathematical operations and broadcasting

print(series + 5)      # Adds 5 to every element in the series

# 3. Filtering:
    # You can apply conditions to filter out specific elements:

filtered_series = series[series > 20]
print(filtered_series)

10
10
0    15
1    25
2    35
3    45
dtype: int64
2    30
3    40
dtype: int64

In [16]:
# 4. Handling Missing Data:
        # A Series can contain missing data, represented by NaN (Not a Number). 
            # Pandas provides methods to handle missing data such as isnull(), fillna(), or dropna().

In [18]:
# Creating a Series with missing data
data = [10, None, 30, None, 50]
series_data = pd.Series(data)

In [24]:
# Check for missing data
print(series_data.isnull())

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [ ]:
# # Fill missing data with a default value
filled_series = series_with_nan.fillna(0)
print(filled_series)

In [ ]:
# Drop missing data
dropped_series = series_with_nan.dropna()
print(dropped_series)