In [ ]:
import pandas as pd
import numpy as np

# Adding Rows Using loc or iloc: 
You can add a new row by assigning a new index and value.

Example: Suppose you have a DataFrame representing student scores

In [ ]:
data = {
    'Name': ['Alice', 'Bob'],
    'Score': [85, 90]
}
df = pd.DataFrame(data)

In [ ]:
# Adding a new row
df.loc[2] = ['Charlie', 95]

# 2. Using append(): 
This method allows you to append a DataFrame or Series.

Example:

In [ ]:
new_row = pd.Series(['David', 80], index=['Name', 'Score'])
df = df.append(new_row, ignore_index=True)

# Using concat(): 
You can concatenate two DataFrames to add rows.

Example:

In [ ]:
new_data = pd.DataFrame({'Name': ['Eve'], 'Score': [88]})
df = pd.concat([df, new_data], ignore_index=True)

# Removing Rows

# 1. Using drop(): 
This method allows you to remove rows based on their index.

Example:

In [ ]:
df = df.drop(index=1)  # Removes Bob

# 2. Using loc[] with a condition

You can filter rows based on conditions to remove them.

Example: Removing students with grades less than 85.

In [ ]:
df = df[df['Grade'] >= 85]
print(df)